*{margin: 0px;
  padding: 0px;}

.header{
    background-color: rgba(215, 250, 241, 0.315);
    background-blend-mode: lighten;
    margin: 0 ; padding-top: 1rem;
    padding-bottom: 1rem;  display: flex;
    
}

.right-txt{
text-align: right;
display: flex;
flex-direction: row;



}
.left-text-header{
    
    margin-left: 2rem;
    color: rgb(24, 199, 147);
    font-size: 26px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
font-family: monospace; cursor: pointer; 
}
.left-text-header:hover{color: rgb(77, 141, 77); font-size:26px;}

.blank{
    margin-right: 42rem;
}
.right-text1-header{
   
    
    
    color: rgb(12, 160, 110);
    font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter; 
    cursor: pointer;
} 
.right-text1-header:hover{color: rgb(245, 4, 125); font-size: 17px;}

.right-text2-header{
    
   margin-left:3rem ;
    color: rgb(13, 160, 111);
    font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    cursor: pointer;
}
.right-text2-header:hover{color: rgb(245, 4, 125);font-size: 18px;}
.para1 {
color: rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0);
text-align: center;
display: flex;
flex-direction: column;
margin-top: 0rem;
flex-wrap: wrap;
text-align: left;
margin-left: 4rem;cursor:default;
}

.p1{
    margin-top: 0rem;
    font-size: 25px;
    font-weight: bolder;
    font-family:cursive;
    
}
.p2{
margin-top: 1.5rem;
margin-bottom: 1.5rem;
font-size: 19px;
color: rgb(109, 103, 103);
font-family:cursive;
}


.container-index{

    display: flex;
    flex-direction: row-reverse;
    margin-top: 4.5rem;
    margin-bottom: 12rem;
}

.signup{
    text-align: center;
    background-color: #eb5b77;
    width: 17rem;
    height: 4rem;
    border-radius: 8rem;
    border-color: rgba(204, 243, 255, 0);
    color: lightcyan;
    text-overflow: hidden;
    font-weight: bolder;
    font-size: 19px;
    font-family:monospace;
    cursor: pointer;
    margin-top: 2.5rem;

}
.signup:hover{font-size: 19.5px; }

/* Popular courser Website Part 2/**/


.greycolor-bg{
     background-color: rgba(176, 197, 201, 0.247);
margin-bottom: 0rem;margin-top: 0rem;overflow:scroll
}

.popular-courses{
    background-color: rgba(176, 197, 201, 0.247);
margin-bottom: 0rem;margin-top: 10rem;

    
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
    padding-top: 5rem;cursor:default;
   
}

.box1{
    
    margin-top: 4rem;
    cursor:default;
}

.card1{
    background-color: white;
    border-radius: 25px;
    width: 17rem;
    height: 20rem;
    margin-left: 3rem;
}

.imgt{
    
    overflow: hidden;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;cursor:default;
}
.txt-card1{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.815);
    cursor:default;
}
.number-card1{
    text-align: center;
    margin-top: 2.5rem;
    font-size: 17px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.733); cursor:default;
    
}

.enrollnow{

    color: #eb5b7e;
    background-color: #fdf4f6;
    text-align: center; font-size: 16px;
    border-radius: 19px;
    align-content: center;
    margin-left: 5.5rem;
    margin-top: 0.4rem;
    border-color: white;
    padding: 0.5rem;
    border-width: 0px;
    font-weight: bold;
    cursor: pointer;}
    
.enrollnow:hover{

    background-color: #eb5b7e; color: #fdf4f6;

}
.box-card{
    display: flex;
flex-direction: row;

}
.row2{
    display: flex;
    flex-direction: row;
}

.greycolor-bg-row2{
    background-color: rgba(176, 197, 201, 0.247);
    margin-bottom: 0rem;margin-top: 0rem;
   overflow:scroll
}


.Allcourse{
    text-align: center;
    align-content: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    border-width: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 39%;
    padding: 17px;
    cursor: pointer;
    margin-bottom: 7rem;
    width: 15rem;
}
.bg-button-allcourse{
    background-color: rgba(176, 197, 201, 0.247);
    margin-bottom: 0rem;margin-top: 0rem;
}
.Allcourse:hover{
    color: rgb(0, 0, 0); background-color:rgb(221, 205, 205); 
}

/*Third part of Website Starts*/

