nav {text-align: right; text-rendering: optimizeSpeed;
    
}






h3.vide{color: rgb(252, 2, 127); 
    font-style: inherit; font-size: 2rem;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }


html{background-image:url(photos/images\ \(1\).jpg);width: auto; height: auto; background-repeat: no-repeat;}







iframe.ytvid3{
    margin-left:2rem; text-rendering: optimizeSpeed;
    

    
    
}

iframe.ytvid2{
    margin-left:2rem; text-rendering: optimizeSpeed;
    margin-right: 1.5rem;}


iframe.ytvid1{ text-rendering: optimizeSpeed;
    margin-left: 2rem;
}



/*  contact us   */


h3.cnt{color: rgb(252, 2, 127); text-rendering: optimizeSpeed; font-style: italic; font-size: 2rem;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align:center; }

div.cnt{color: rgb(0, 0, 0); font-style: inherit ;text-rendering: optimizeSpeed; text-align: center;


}

.textarea-cnt{

    max-width: 16rem; text-rendering: optimizeSpeed; min-width: 16rem; max-height: 11rem; min-height: 11rem;
}



/*  contact us button  */

.button-cnt {
    
    text-align: center


}                                                    


.col-md-4 {

    text-align: center ; background: #000; height: 5rem; width: 100%;
}





