nav {background-color: rgb(245, 18, 124); font-style: inherit; margin-right: inherit;}
h2 {font-style:normal; font-size: 10mm;}
h3{color: rgb(252, 2, 127); font-style: italic;}
html{background-image:url(); width: 75%; height: 75%;}
#mybutton  {background-color: white; margin-right: 50px; margin-left: 0px; width: 100%;}